* {
    box-sizing: border-box;
    /* This one first load, inherit will not work*/
    margin: 0;
    padding: 0;
}

a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-style: normal;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #020D18;
    font-family: 'Inter', sans-serif;
    position: relative;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.8);
}

iframe {
    user-select: none;
}

.btn {
    width: fit-content;
    padding: 10px 20px;
    background-color: #F06500;
    border-radius: 6px;
    user-select: none;
    color: white;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.seperator {
    width: 100%;
    height: 0.7px;
    background-color: white;
    margin: 20px 0;
}

ul {
    margin: 0;
}

.white-text {
    color: white !important;
}

/* For Header Render */
header {
    margin-top: 20px;
    height: 35px;
}

.category {}

.category>i {
    margin-left: 15px;
    font-size: 25px;
    color: white;
    line-height: 35px;
    text-align: center;
}

/* For category mobile */
.category-mobile-container {
    position: fixed;
    visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    transition: all 0.1s;
}

.category-mobile-container.show {
    visibility: visible;
}

.category-mobile {
    width: 100%;
    height: 100%;
    display: flex;

}

.category-mobile__content {
    overflow: auto;
    width: 250px;
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    animation: fadeOutRightToLeft ease-in 0.3s;
    transition: all 0.2s;
}

.category-mobile__content.show {
    animation: fadeInLeftToRight ease-in 0.3s;
}

.category-mobile__content>a {
    padding: 15px 0 15px 30px;
    font-size: 14px;
    text-decoration: none;
    color: #a6a6a6;
}

.current-category-item,
.category-mobile__content>a:hover {
    color: #F06500 !important;
}

.exit-category {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.25);
    animation: fadeIn ease-in 0.5s;

}

.header__logo--img {
    height: 32px;
    margin: auto;
    user-select: none;
}

.navbar {
    display: flex;
    height: 100%;

}

.navbar__list {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.navbar__item {
    margin: auto;
    color: #9B9B9B;
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-decoration: none;
}
.navbar__item:hover {
    color: #F06500;
}
.nav-category {
    position: relative;
}
.nav-category:hover .category-drop {
    display: flex;
}
.nav-category:hover  {
    cursor: default !important;
}
.category-drop {
    width: 250px;
    display: none;
    flex-wrap: wrap;
    position: absolute;
    top : 100%;
    right: -100%;
    background-color: black;
    z-index: 100;
}

.the-loai__item {
    padding: 5px 10px;
    font-size: 15px;
    color: white;
    text-align: center;
    margin:10px auto;
    font-weight: 400;
}
.the-loai__item:hover {
    color: #F06500;
}
.search-icon {
    position: relative;
}

.search-icon>i {

    margin-left: 15px;
    color: white;
    font-size: 20px;
    line-height: 35px;
}

.header__search {
    background-color: black;
    display: flex;
    height: 100%;
    border: 0.7px white solid;
    border-radius: 5px;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

#search-text {
    background-color: transparent;
    color: rgb(209, 205, 205);
    font-size: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    height: 100%;
    width: 80%;
    border: none;
    outline: none;
}

.header__search>i {
    line-height: 35px;
    text-align: center;
    margin: auto;
    width: 18%;
    font-size: 20px;
    color: white;
}

.drop-search {
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    height: 40px;
    display: block;
    background-color: white;
    border-top: 2px solid #f06500;
    border-radius: 2px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    transform-origin: top right;
    animation: fadeInZoom ease-in 0.3s;
    z-index: 1000;
    overflow: hidden;
}

.drop-search.hide {
    transform-origin: top right;
    animation: fadeOutZoom ease-in 0.3s;
    opacity: 0;
    transform: scale(0);
}

.display-none {
    display: none;
}

.drop-search>.search-input {
    width: 100%;
    height: 100%;
    margin: auto 0px auto 5px;
    font-size: 16px;
    border: none;
    outline: none;
}

/* Of film item */
.film__item {
    color: white;
    margin: 15px auto;
}

.film__poster {
    position: relative;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
}

.film__status {
    position: absolute;
    top: 8px;
    left: 12px;
    padding: 5px 10px;
    background: #F06500;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 23px;
    text-align: center;
    z-index: 10;
    user-select: none;
}

.hidden-poster {
    position: relative;
}

.poster-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    display: flex;
    animation: fadeOut ease-in 0.2s;
    color: white;
    text-decoration: none;
}

.poster-hover>i {
    margin: auto;
    font-size: 35px;
}

.film__poster--img {
    user-select: none;
    width: 100%;
    height: auto;
}

.poster-hover:hover {
    animation: fadeIn ease-in 0.3s;
    opacity: 1;
    cursor: pointer;
}

.film__name {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/* For footer */
footer {
    margin: 20px 0px;
}

.footer__logo {
    width: 80%;
    height: 110px;
    margin-bottom: 20px;

}

.footer__logo--img {
    width: 100%;
    height: 100%;
    user-select: none;
}

.about-we,
.rules,
.mail,
.flow-we {
    color: #D7C9C9;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 19px;
}

.about-we>p,
.rules>p {
    color: white;
    font-weight: 500;
    margin-top: 10px;
}

.mail__icon {
    font-size: 15px;
    margin-right: 5px;
}

.flow-we {
    margin-top: 10px;
}

.youtube-link,
.facebook-link {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.introduce:hover,
.contact:hover,
.support:hover,
.ads:hover,
.youtube-link:hover,
.facebook-link:hover,
.privacy-policy:hover,
.terms-of-use:hover,
.category__header>.see-all:hover {
    color: #F06500;
    cursor: pointer;
}

/* Category View Film */
.category-film {
    margin-top: 20px;
}

.category__header {
    display: flex;
    justify-content: space-between;
    color: white;
}

.category__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px
}

.see-all {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    text-decoration: none;
    color: white;
    line-height: 33px;
}

.category__container {}

.row {}

/* Keyframe */
@keyframes fadeInLeftToRight {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutRightToLeft {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes fadeInZoom {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOutZoom {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@media (max-width : 1023px) {

    div.gutters-15:nth-child(4), div.gutters-15:nth-child(5){
        display: none;
    }
}
@media (max-width : 480px) {

    div.gutters-15:nth-child(4){
        display: flex;
    }
}